@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --transition-duration: 200ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  transition: background-color var(--transition-duration) ease,
              color var(--transition-duration) ease;
}

html * {
  transition: background-color var(--transition-duration) ease,
              border-color var(--transition-duration) ease,
              color var(--transition-duration) ease,
              fill var(--transition-duration) ease,
              stroke var(--transition-duration) ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
